<footer class="bg-dark text-white py-4 mt-auto">
  <div class="container">
    <h5>Popular Parts</h5>
    <div class="d-flex flex-wrap justify-content-start">
      <div class="p-2">
        <img src="https://source.unsplash.com/120x80/?car,part" alt="Part" class="img-thumbnail" style="width:80px;">
      </div>
      <div class="p-2">
        <img src="https://source.unsplash.com/120x80/?brake,parts" alt="Part" class="img-thumbnail" style="width:80px;">
      </div>
      <div class="p-2">
        <img src="https://source.unsplash.com/120x80/?car,part" alt="Part" class="img-thumbnail" style="width:80px;">
      </div>
      <div class="p-2">
        <img src="https://source.unsplash.com/120x80/?brake,parts" alt="Part" class="img-thumbnail" style="width:80px;">
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2026 AutoParts Store</small>
    </div>
  </div>
</footer>