<div class="container py-4">
  <div class="row">
    <div class="col-md-6">
      <img src="https://source.unsplash.com/800x600/?car,part" class="img-fluid" alt="Part">
    </div>
    <div class="col-md-6">
      <h2>Part Name</h2>
      <p class="text-muted">Category: Engine</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque convallis massa, nec volutpat lectus.</p>
      <h4 class="text-primary">$79.99</h4>
      <button class="btn btn-lg btn-success mt-3">Add to Cart</button>
    </div>
  </div>
</div>
